<div class="page-header">
  <h1>Payment Complete</h1>
</div>

<p>Your payment of <strong><%= number_to_currency(@payment.price / 100) %></strong> is complete.</p>

<p>We've emailed your provided address with more details and a confirmation of purchase. You can now close this window and get back to your important Postgrad work.</p>

<p>Thanks and see you at the ball!</p>
