<div class="hero-unit">
  <div id="pgc-logo" class="span4">
  </div>
  <div class="span8">
    <h1>Postgraduate Council Annual Ball</h1>
    <p>Be a part of the first PGC Ball.</p>
    <p>
      <%= link_to "Book now", new_ticket_path, :class => "btn btn-primary btn-large" %>
      <%= link_to "Book a table (10 seats)", new_ticket_path(:seats => 10), :class => "btn btn-primary btn-large" %>
    </p>
  </div>
</div>
<div class="row image-row">
  <div class="span4">
    <img src="http://placekitten.com/600/300"/>
    <p>3 course meal</p>
  </div>
  <div class="span4">
    <img src="http://placekitten.com/600/300"/>
    <p>Great Music</p>
 </div>
  <div class="span4">
    <img src="http://placekitten.com/600/300"/>
    <p>Fellow Postgrads!</p>
  </div>
</div>
