<div class="hero-unit">
  <div class="span10">
    <p>The Arc Postgraduate Council invites you to the inaugural PGC Spring Ball. Come along to the Roundhouse on Friday October 5th for a fantastic night with your friends and colleagues. This ball is the first of its kind and organised  by Arc and your Postgraduate Council. Tickets are $66 for Arc Members and $76 for non-Arc Members. Booking a table of eight is even cheaper ($60/$70). Tickets  include a two-course meal with canapes, drinks and entertainment by jazz artists and DJ 'Potential Ember'.</p>
    <p>
      To buy your tickets, simply select tickets / table below, enter your details, pay securely via Credit Card or Paypal, and we'll send you your tickets electronically!
    </p>
    <p>
      <%= link_to "Book now", new_ticket_path, :class => "btn btn-primary btn-large" %>
      <%= link_to "Book a table (8 seats)", new_ticket_path(:seats => 8), :class => "btn btn-primary btn-large" %>
    </p>
  </div>
</div>
<div class="row image-row span12">
  <div class="span4">
    <img src="/assets/group1_cropped.jpg"/>
    <p>2 course meal and canapes</p>
  </div>
  <div class="span4">
    <img src="/assets/group2_cropped.jpg"/>
    <p>Great Music from a Jazz band and DJ Potential Ember</p>
 </div>
  <div class="span4">
    <img src="/assets/group3_cropped.jpg"/>
    <p>Fellow Postgrads from around campus!</p>
  </div>
</div>
