<div class="page-header" style="border-bottom: none">
  <h1>Book Tickets</h1>
</div>

<p class="well" style="font-size: 1.3em">
  Booking 10 tickets (a full table) together gives a
  <span style="color: red"><strong>$60</strong></span> discount.
</p>

<%= render :partial => 'form' %>
