<div class="page-header">
  <h1>Payment Processing</h1>
</div>

<p>Your transaction is being processed.</p>

<p>Once we receive the money from Paypal, we'll send you an email with tickets. You can now close this window and get back to your important Postgrad work.</p>

<p>Thanks and see you at the ball!</p>
